# Flutter and Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android
android/.gradle/
android/build/
*.iml
*.apk
*.ap_
*.dex
*.class
*.log

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# VS Code and IntelliJ
.vscode/
.idea/

# CXX intermediate logs
android/app/build/intermediates/cxx/

# Misc
.DS_Store
